.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					= link_to 'Users', people_path
				%li
					Edit User
	.row
		.col-sm-12
			%h1 Edit User

	.row
		.col-sm-6
			= form_for @user, url: person_path(@user), html: { method: :put } do |f|
				.modal-body
					.form-group
						= f.label :name
						= f.text_field :name, class: 'form-control'
					.form-group
						= f.label :email
						= f.text_field :email, class: 'form-control'
					.form-group
						= f.label :password, 'PIN'
						= f.password_field :password, class: 'form-control', required: true

					= f.submit 'Save', class: 'btn btn-primary'