.container
	.row
		.col-md-12
			.well
				%h2
					Enter the letters as you see them without any spaces in between:

				%center
				%h2{ style: 'letter-spacing: .33em;'}
					&nbsp;
					= @sequence


				= form_tag post_game_path do 
					= hidden_field_tag :trial_id, @trial.id
					.col-xs-6
						= text_field_tag :sequence, '', class: 'form-control'
					.col-xs-2
						= submit_tag 'Done!', class: 'btn btn-success'

				.clearfix



	.row{ style: 'margin-top:2em;' }
		.col-xs-2

		.col-xs-8
			%center
				Page: 6