.container
  .row
    .col-xs-12
      .well
        %center
          %h2
            Edit Task
        %table.table
          %thead
            %tr
              %th
                Task
              %th
                Description
              %th
                Completed
              %th
                Due
              %th
                Delete
          %tbody
            %tr
            = form_for @task, :url => url_for(:controller => 'tasks', :action => 'update') do |f|
              %td
                = f.text_field :name, :placeholder => "Name"
              %td
                = f.text_field :description, :placeholder => "Description", :size => "50"
              %td
                = f.check_box :completed, {}, "true", "false"
              %td
                = f.date_field :due_at
              %td
                = link_to task_path(@task.id), :method => "delete" do
                  .button.btn.btn-md.btn-danger
                    %i.fa.fa.fa-trash-o
              = f.submit "submit", :class => "button btn btn-md btn-primary task-submit-hidden", :style => "display:none;"
        .button.btn.btn-md.btn-primary.task-submit
          Submit
        = link_to "Back To Screens", tasks_path, class: "button btn btn-md btn-success pull-right"

