.container
  .row
    %div.col-md-6
      %div.panel.panel-default
        %div.panel-heading
          %h2
            Progress
        %div.panel-body
          - @previous_screens.each do |screen|
            %div
              = link_to screen.id, screen

    %div.col-md-6
      %div.panel.panel-default
        %div.panel-heading
          %h2
            Milestones
        %div.panel-body
          - if (@milestones)
            - @milestones.each do |screen|
              %div
                = link_to "Screen #{screen.id}", screen

    %div.col-md-6
      %div.panel.panel-default
        %div.panel-heading
          %h2
            Bookmarks
        %div.panel-body
          - @bookmarks.each do |bookmark|
            %div
              = link_to "Screen #{bookmark.screen_id}", screen_path(bookmark.screen_id)
