.container
  .row
    .col-xs-12
      .well
        = raw ERB.new("<h1>test</h1>").result(binding)


        - if @screen.questions.present?
          - @screen.questions.each do |question|
            = form_tag question_responses_path( question ) do |f|


              = raw question.content

              - question.prompts.each do |prompt|
                .form-group
                  - if prompt.prompt_type == 'text_field'
                    .row
                      .col-sm-8.col-sm-offset-2= text_field_tag "prompt_id[#{prompt.id}]", current_user.responses.where( prompt_id: prompt.id ).first.try( :content ), class: 'form-control'
                      = hidden_field_tag "content", prompt.content

                  - elsif prompt.prompt_type == 'radio'
                    = radio_button_tag "prompt_id[]", prompt.id, current_user.responses.where( prompt_id: prompt.id ).first
                    = prompt.content
                  - elsif prompt.prompt_type == 'checkbox'
                    = check_box_tag "prompt_id[#{prompt.id}]", prompt.id, current_user.responses.where( prompt_id: prompt.id ).first
                    = prompt.content
              .clearfix
              = submit_tag 'Answer', class: 'btn btn-success pull-right'
              .clearfix




  .row
    .col-xs-2
      - if @screen.previous_screen.present?
        = link_to 'Back', @screen.previous_screen, class: 'btn btn-primary'
    .col-xs-3
    .col-xs-2
      = link_to 'bookmark', bookmarks_path( bookmark: { screen_id: @screen.id } ), method: :post
    .col-xs-3
    .col-xs-2
      - if @screen.next_screen.present? && not( @screen.questions.present? )
        = link_to 'Next', @screen.next_screen,  class: 'btn btn-primary pull-right'
