.container
  .row
    .col-xs-12
      .well
        = raw (@screen_content)

        - if @screen.questions.present?
          - @screen.questions.each do |question|
            = form_tag question_responses_path( question ) do |f|

              =# raw ERB.new(question.content).result(binding)
              = raw question.content

              - question.prompts.each do |prompt|
                .form-group
                  - if prompt.prompt_type == 'text_field'
                    .row
                      .col-sm-8.col-sm-offset-2
                        %p= prompt.content
                        = text_field_tag "prompt_id[#{prompt.id}]", current_user.responses.where( prompt_id: prompt.id ).first.try( :content ), class: 'form-control'
                      = hidden_field_tag "content", prompt.content

                  - elsif prompt.prompt_type == 'radio'
                    %p
                      = radio_button_tag "prompt_id[]", prompt.id, current_user.responses.where( prompt_id: prompt.id ).first
                      = raw prompt.content
                  - elsif prompt.prompt_type == 'checkbox'
                    %p
                      = check_box_tag "prompt_id[#{prompt.id}]", prompt.id, current_user.responses.where( prompt_id: prompt.id ).first
                      = raw prompt.content
                  - elsif prompt.prompt_type == 'text_area'
                    .row
                      .col-sm-8.col-sm-offset-2
                        %p= prompt.content
                        = text_area_tag "prompt_id[#{prompt.id}]", current_user.responses.where( prompt_id: prompt.id ).first.try( :content ), class: 'form-control'
                      = hidden_field_tag "content", prompt.content
              .clearfix
              = submit_tag 'Answer', class: 'btn btn-success pull-right'
              .clearfix




  .row
    .col-xs-2
      - if @screen.previous_screen.present?
        = link_to 'Back', screen_path( id: @screen.previous_screen.seq ), class: 'btn btn-primary'
    .col-xs-8
      %center
        %a{ href: bookmarks_path( bookmark: { screen_id: @screen.id } ),data: { method: :post } }
          Page: 
          = @screen.seq
          = @screen.name
          (bookmark) 
    .col-xs-2
      - if @screen.next_screen.present? && not( @screen.questions.present? )
        = link_to 'Next', screen_path( id: @screen.next_screen.seq ),  class: 'btn btn-primary pull-right'
      - else
        = link_to 'Home', '/',  class: 'btn btn-primary pull-right'