.container
	= raw @screen.content


	- if @screen.questions.present?
		- @screen.questions.each do |question|
			= form_tag responses_path do |f|
				= hidden_field_tag question_id: question.id
				
				= raw question.content

				- question.prompts.each do |prompt|
					.form-group
						- if prompt.prompt_type == 'text_field'
							= text_field_tag :content
						- elsif prompt.prompt_type == 'radio'
							= radio_button_tag :prompt_id, prompt.id
							= prompt.content
						- elsif prompt.prompt_type == 'checkbox'
							- #todo
				= f.submit class: 'btn btn-success'




	.row
		- if @screen.previous_screen.present?
			.span10
				= link_to 'Back', @screen.previous_screen, class: 'btn btn-primary'


		- if @screen.next_screen.present?
			.span2
				= link_to 'Next', @screen.next_screen,  class: 'btn btn-primary'