#features
	.container
		.section_header
			%h3#toc
				CogSMART FAQs
		.row
			%ul
				%li
					= link_to 'Cognitive training? Cognitive rehabilitation? Cognitive remediation? What’s the difference?', '#1'
				%li
					= link_to 'Why do you advocate for compensatory cognitive training rather than restorative approaches? What about all those commercially-available software packages?', '#2'
				%li
					= link_to 'What are the theories behind CogSMART?', '#3'
				%li
					= link_to 'Why did you choose to focus on prospective memory, attention, learning/memory, and executive functioning?', '#4'
				%li
					= link_to 'How long does CogSMART take?', '#5'
				%li
					= link_to 'Is it better to work with individuals or groups?', '#6'
				%li
					= link_to 'Homework? Really?', '#7'
				%li
					= link_to 'Would CogSMART be helpful for someone with severe memory impairment?', '#8'
				%li
					= link_to 'What do clients think of CogSMART?', '#9'
				%li
					= link_to 'As a client, what can I expect?', '#10'
				%li
					= link_to 'As a clinician, what training do I need to provide CogSMART to clients?', '#11'
				%li
					= link_to 'As a clinician, do I have to provide all CogSMART sessions?', '#12'
				%li
					= link_to 'As a clinician, how can I keep clients motivated and engaged?', '#13'
				%li
					= link_to 'Are there other treatments you recommend?', '#14'
		.row
			.intro
				%h3#1
					Cognitive training? Cognitive rehabilitation? Cognitive remediation? What’s the difference?
				%p
					All of these terms have been used to describe interventions to improve cognition. “Rehabilitation” and “remediation” imply a return to completely normal cognitive performance, and in many populations with cognitive impairments, this is simply not a realistic goal. For this reason, I prefer the term “cognitive training,” which is an accurate description of the intervention itself and suggests that by engaging in training and using cognitive strategies habitually, people can improve their cognitive performance and functioning.
				%p
					= link_to 'Top', '#toc'

				%h3#2
					Why do you advocate for compensatory cognitive training rather than restorative approaches? What about all those commercially-available software packages?
				%p
					There are four main reasons why I recommend compensatory cognitive training:
					%ol
						%li
							There is scientific evidence that it is effective for many people with different types of cognitive impairments, and that cognitive improvements translate into improved real-world functioning. 
						%li
							Compensatory strategies can work regardless of the cause of cognitive impairment. 
						%li
							Using compensatory strategies allows people to work around their cognitive impairments and has the potential to induce brain plasticity (because the brain can change when people use it differently).
						%li
							Compensatory cognitive training is recovery-oriented in its focus on linking strategy use to goals and roles in the community.

					There are now many commercially-available software packages offering restorative cognitive training, some designed to improve cognition via repeated drills of basic cognitive abilities (for example, auditory attention and discrimination of sounds of different pitches), and some that are more similar to computer games. There is some compelling scientific evidence that participants using these programs can improve on the practiced tasks and in other areas of cognition. However, meta-analyses that have aggregated the results across studies have shown that repeated drill and practice interventions don’t appear to have effects on real-world functioning unless they are combined with strategy coaching. (Wykes et al., 2011; McGurk et al., 2007; Rees, 2007; Schutz, 2007). My usual advice to clients and clinicians is that computerized cognitive training programs may be effective, but are more likely to be effective if they are combined with compensatory cognitive training.
				%p
					= link_to 'Top', '#toc'


				%h3#3
					What are the theories behind CogSMART? 

				%p
					There are two main theories underlying the CogSMART approach:
					%ol
						%li
							Cognitive compensation. By working around impairments (similar to using a cane to support a weak leg), we can take advantage of an individual’s cognitive strengths, use different strategies, and use different brain areas to perform cognitively-demanding tasks.
						%li
							Habit learning. Habits – good or bad – are hard to break because they are particularly resistant to forgetting. Habit learning relies on  neostriatal pathways in the brain, which are often intact, rather than declarative memory systems, which may be impaired. 
				%p
					= link_to 'Top', '#toc'


				%h3#4
					Why did you choose to focus on prospective memory, attention, learning/memory, and executive functioning? 

				%p
					These are the four cognitive domains targeted in CogSMART because they are highly relevant for everyday functioning, and because there is scientific evidence that they can improve with the application of effective strategies. Prospective memory is important because it is the ability to remember to do things (like take medications, call a friend for her birthday, pick up milk on the way home, etc.). Often times, people who report memory difficulties will give examples of prospective memory failures. We provide strategies for effective calendar use as well as shorter-term prospective memory strategies. Attention is emphasized because it is the building block of learning and memory. We can’t learn or remember things that we don’t pay attention to in the first place. Therefore, we focus on paying attention during conversations and while completing tasks. Learning and memory are included because most people with cognitive impairments report memory difficulties. We know that information that is deeply encoded or learned is more likely to be remembered, so we focus mainly on encoding strategies. Executive functioning involves problem-solving, planning, organization, and cognitive flexibility. These, too, are common difficulties for people who have cognitive impairments, and can improve with habitual use of effective strategies.
				%p
					= link_to 'Top', '#toc'

				%h3#5
					How long does CogSMART take?

				%p
					CogSMART can be delivered in 12 one-hour sessions if done individually, or 12 two-hour classes if done in groups. Follow-up “booster sessions” may be helpful to further hone strategy use in the real world.
				%p
					= link_to 'Top', '#toc'


				%h3#6
					Is it better to work with individuals or groups?
				%p
					There are advantages to both approaches. Working on an individual basis allows the clinician to tailor the CogSMART curriculum to the client, moving more quickly through some concepts and spending a longer time on others. Working with groups allows for a more structured, classroom-type experience that is particularly attractive to some clients, and it also allows for group support in learning and applying the strategies. Some clients may be more willing to give something a try if they see another person experience success. 
				%p
					= link_to 'Top', '#toc'

				%h3#7
					Homework? Really?
				%p
					Yes! Learning new cognitive strategies is most effective when those strategies are practiced in 
					the real world. The home exercises are designed to help people try out the strategies at home 
					or in their communities so they can see which ones work best for them.
				%p
					= link_to 'Top', '#toc'


				%h3#8
					Would CogSMART be helpful for someone with severe memory impairment?
				%p
					Individuals who have rapid forgetting (e.g., Alzheimer’s disease or very severe traumatic 
					brain injury) may have difficulty learning and remembering the cognitive strategies taught 
					in CogSMART. Patients with moderate to severe memory impairment may show some 
					improvement, but they may need more repetition of the information or may need to practice 
					more than other clients.
				%p
					= link_to 'Top', '#toc'

				%h3#9
					What do clients think of CogSMART?
				%p
					Clients rate the CogSMART intervention as “very helpful” to “extremely helpful” overall. The 
					following are quotes from some of our clients:
					%ul
						%li
							“My calendar helps me to mark off my morning pills – I can check to see that I took them.”

						%li
							“Helped me maintain a regular schedule.”

						%li
							“[The calendar] gives me peace of mind. I make notes to myself about ordering prescriptions and household duties.”

						%li
							“I went from not checking my sugars daily (maybe every other day or I would skip a few days) to checking every day or twice a day. I write my sugar levels down in my calendar.”

						%li
							“Helped me to remember to do tasks that needed to get done.”

						%li
							“Made me aware of how to organize things and prioritize.”

						%li
							“Paraphrasing makes my conversations more interesting. Normally I would just say, ‘Is that right?’ but now I’m a more active participant.”

						%li
							“Self talk is a learning tool. It’s not like talking back to voices. If you do it for instructions or a task, it’s normal.”

						%li
							“I love the overlearning strategy to remember names. I made flashcards for each new person I met at my AA meetings. On the back of the card, I’ll write down their phone number and personal details. I’m meeting more people and socializing with them. I’m having a social life outside of my addiction for the first time in two and a half years”

						%li
							“It helped with my memory and keeping me relaxed.”

						%li
							“I can get a lot more done.”
				%p
					= link_to 'Top', '#toc'
				
				%h3#10
					As a client, what can I expect?
				%p
					CogSMART includes 12 sessions that will teach you strategies to improve your cognition and functioning in multiple areas. Your clinician will help you get comfortable with the strategies before you try them out in the real world. Some of the strategies may be familiar to you, and others will be new. Some of the strategies may not feel like a good fit for your life, and others may be the perfect fit. Stick with it, be patient, give all the strategies a try at least a few times, and by the end, you will have a toolbox full of tools for different situations. You’ll end up using some tools more than others, of course, but you’ll have all the tools available to you. The more you practice using your strategies, the more automatic they will become, so we encourage you to practice as much as you can in your daily life.
				%p
					= link_to 'Top', '#toc'

				%h3
					As a client, how is CogSMART going to help me with my life goals?
				%p
					The entire reason we focus on cognition is that it is so strongly linked with real-world
					functioning. We want to help people achieve their best possible functioning, and cognition is 
					a very logical place to start. Whether your goals involve your living situation, education, work, 
					social life, health, or finances, there are cognitive strategies that can help you make progress on these goals. Functioning in all of these domains depends at least somewhat on cognition, so if 
					we can help you improve your cognitive performance, we can increase the odds of your meeting 
					your goals. Here are a few examples of how cognitive strategies can help with life goals:
					%ul
						%li 
							Using a calendar efficiently will help you plan your job search activities or work/school 
							assignments, go to work/class on time, call your best friend on his birthday, pay the rent 
							on time, and generally get things done.

						%li 
							Using conversational attention skills will help your relationships with your family 
							members, friends, partners, or bosses by making sure that other people feel heard and 
							understood; these skills will also help you remember your conversations better.

						%li 
							Learning and memory strategies can help you learn and remember new information at 
							home, work, and school.

						%li 
							Executive functioning strategies can help you with planning, prioritizing, problem-solving, 
							and thinking flexibly. These skills are important in managing your tasks in life, whether
							they involve work, school, relationships, health, finances, or living independently.
				%p
					= link_to 'Top', '#toc'

				%h3#11
					As a clinician, what training do I need to provide CogSMART to clients?
				%p
					Masters-level or doctoral-level mental health clinicians are typically well-prepared to provide 
					CogSMART. Delivering CogSMART is more like teaching a curriculum than doing therapy. 
					We have created therapist versions of our manuals so that clinicians who have never provided 
					cognitive training before will feel confident and prepared.
				%p
					= link_to 'Top', '#toc'

				%h3#12
					As a clinician, do I have to provide all CogSMART sessions?
				%p
					No. You may use the parts you think will be the best fit for the client. However, I recommend at least briefly reviewing all of the strategies with the client.
				%p
					= link_to 'Top', '#toc'

				%h3#13
					As a clinician, how can I keep clients motivated and engaged?
				%p
					We recommend a few strategies to enhance motivation and engagement. First and foremost, help the client link each strategy with their individual goals – this will help the client’s motivation to practice the cognitive strategies in the community. For example: 
					%ul

						%li “Using a calendar will help you plan your job search activities and remember to submit applications and go to interviews”

						%li “Using these attention skills during conversations will help your friendships by making sure that other people feel heard and understood”

						%li “Using these learning strategies should help you learn and remember new information from your lectures in school”.

					Some clients have difficulty coming up with concrete goals, but will express dissatisfaction with their living situation, learning/educational status, work situation, social life, health, or financial situation. Exploring their dissatisfaction can lead to the formation of individual goals. We recommend goal-setting using the SMART goals technique (
					= link_to "http://en.wikipedia.org/wiki/SMART_criteria", "http://en.wikipedia.org/wiki/SMART_criteria"
					).
					%br
					%br
					We also recommend involving family members or other support people as much as possible. Loved ones can be powerful allies in treatment, and can benefit from education regarding the client’s cognitive challenges and the strategies taught in CogSMART. The more others know about the strategies, the more they can reinforce the client’s strategy use in the real world.
				%p
					= link_to 'Top', '#toc'

				%h3#14
					Are there other treatments you recommend?
				%p
					Absolutely. There are many evidence-based treatments available for many symptoms and problems. In general, I recommend consultation with a licensed psychologist (for problems requiring non-medication treatment) or a psychiatrist (for problems requiring medication treatment). Licensed marriage and family therapists can assist with relationship and family issues. Licensed clinical social workers and certified rehabilitation counselors can also provide assistance with issues related to community functioning. I also strongly recommend substance abuse treatment for anyone struggling with addiction or over-use of alcohol or drugs. The brain simply cannot function well under the influence, and alcohol and substance over-use can further result in permanent damage to the brain. Your healthcare provider may be able to provide a referral for any of the previously mentioned providers or for substance abuse treatment within your insurance coverage; alternatively, there are free or low-cost services available through the public mental health system for low-income clients. Here are some additional recommendations:
					%ul

						%li 
							Many people with cognitive impairments also have symptoms of stress or anxiety and can benefit from learning different relaxation strategies. The brain will always work better when a person is relaxed; a relaxed mind is more able to attend and learn. Diaphragmatic Breathing and Progressive Muscle Relaxation are great techniques that can lower overall stress levels: 
							= link_to "http://www.cmhc.utexas.edu/stressrecess/Level_Two/breathing.html", "http://www.cmhc.utexas.edu/stressrecess/Level_Two/breathing.html"
							and 
							= link_to "http://www.cmhc.utexas.edu/stressrecess/Level_Two/progressive.html.", "http://www.cmhc.utexas.edu/stressrecess/Level_Two/progressive.html" 
							There are more great relaxation exercises available here: 
							= link_to "http://caps.ucsd.edu/self_help_library_web/self_help_library_relaxation_central.html.", "http://caps.ucsd.edu/self_help_library_web/self_help_library_relaxation_central.html"

						%li 
							Cognitive behavioral therapy is an evidence based practice for people with psychosis and schizophrenia (
							= link_to "http://www.amazon.com/CBT-Schizophrenia-Evidence-Based-Interventions-Directions/dp/0470712058/ref=sr_1_2?ie=UTF8&qid=1377122710&sr=8-2&keywords=eric+granholm", "http://www.amazon.com/CBT-Schizophrenia-Evidence-Based-Interventions-Directions/dp/0470712058/ref=sr_1_2?ie=UTF8&qid=1377122710&sr=8-2&keywords=eric+granholm"
							) as well as for those with mood disorders, such as depression, and other behavioral health conditions (
							= link_to "http://en.wikipedia.org/wiki/Cognitive_behavioral_therapy", "http://en.wikipedia.org/wiki/Cognitive_behavioral_therapy"
							). An excellent self-help guide using cognitive behavioral principles is here: 
							= link_to "http://www.amazon.com/Feeling-Good-The-Mood-Therapy/dp/0380810336/ref=sr_1_1?ie=UTF8&qid=1377122953&sr=8-1&keywords=burns+feeling+good.", "http://www.amazon.com/Feeling-Good-The-Mood-Therapy/dp/0380810336/ref=sr_1_1?ie=UTF8&qid=1377122953&sr=8-1&keywords=burns+feeling+good"

						%li 
							For people with brain injuries, mental illness, or developmental disabilities (e.g., autism or intellectual disability) who need assistance entering or returning to the workforce, supported employment is the evidence-based practice. For people with mental illness, the evidence base is strongest for Individual Placement and Support, a manualized version of supported employment: 
							= link_to "http://sites.dartmouth.edu/ips/.", "http://sites.dartmouth.edu/ips/" 
							Additional materials are available here: 
							= link_to "http://store.samhsa.gov/product/Supported-Employment-Evidence-Based-Practices-EBP-KIT/SMA08-4365.", "http://store.samhsa.gov/product/Supported-Employment-Evidence-Based-Practices-EBP-KIT/SMA08-4365"
							A summary and additional links are here: 
							= link_to "http://en.wikipedia.org/wiki/Supported_employment.", "http://en.wikipedia.org/wiki/Supported_employment"

						%li 
							The analogue to supported employment for those in school or returning to school is supported education: 
							= link_to "http://store.samhsa.gov/product/Supported-Education-Evidence-Based-Practices-EBP-Kit/SMA11-4654CD-ROM.", "http://store.samhsa.gov/product/Supported-Education-Evidence-Based-Practices-EBP-Kit/SMA11-4654CD-ROM"

						%li 
							Many people with cognitive impairments also have difficulty with social skills, because social skills rely heavily on a type of cognitive ability called social cognition. Social skills training, which has been studied extensively in people with schizophrenia, but can be helpful for others as well, is an evidence-based treatment for these challenges: 
							= link_to "http://www.amazon.com/Social-Skills-Training-Schizophrenia-Edition/dp/157230846X/ref=sr_1_1?ie=UTF8&qid=1377122603&sr=8-1&keywords=social+skills+training+bellack+mueser.", "http://www.amazon.com/Social-Skills-Training-Schizophrenia-Edition/dp/157230846X/ref=sr_1_1?ie=UTF8&qid=1377122603&sr=8-1&keywords=social+skills+training+bellack+mueser"

						%li 
							For people with cognitive impairments who use mobile devices (smartphones, tablets, etc.), I recommend the Making Cognitive Connections approach, which teaches the fundamental technical skills for using the device while simultaneously drawing parallels to the cognitive skills that underlie these technical skills: 
							= link_to "http://id4theweb.com/.", "http://id4theweb.com/"

						%li 
							There is also a website devoted entirely to reviews of mobile apps that are helpful for people with cognitive challenges: 
							= link_to "http://id4theweb.com/appreviews/.", "http://id4theweb.com/appreviews/"

						%li 
							Individuals with psychiatric disorders and their loved ones can benefit from learning about the cognitive challenges that are often part of these disorders. A comprehensive guide is available here: 
							= link_to "http://www.omh.ny.gov/omhweb/cogdys_manual/CogDysHndbk.pdf.", "http://www.omh.ny.gov/omhweb/cogdys_manual/CogDysHndbk.pdf"
				%p
					= link_to 'Top', '#toc'




