!!!strict

%html{ lang: :en }
	%head
		%title
			CogSMART
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }


		= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic'
		= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		
		
		= javascript_include_tag "application", "data-turbolinks-track" => true
		
		= csrf_meta_tags

	%body
		= render 'partials/navbar'
		= render 'partials/flash'
		
		= yield

		= render 'partials/footer'


					